azure-speech-services/speech_debug.log
*/__pycache__/*
**/.env
**/*.wav
**/token.txt
azure-ai-translator-container/sample_translated.pdf
azure-ai-translator-container/azure-ai-translator/*
azure-ai-translator-container/log-download-models_*